name: CI

on:
  push:
  pull_request:
  schedule:
    - cron: '0 0 1,16 * *'

jobs:
  test:
    uses: zenstruck/.github/.github/workflows/php-test-symfony.yml@main

  code-coverage:
    uses: zenstruck/.github/.github/workflows/php-coverage-codecov.yml@main

  composer-validate:
    uses: zenstruck/.github/.github/workflows/php-composer-validate.yml@main

  cs-check:
    uses: zenstruck/.github/.github/workflows/php-cs-fixer.yml@main
    with:
      php: 8.0

  sca:
    uses: zenstruck/.github/.github/workflows/php-stan.yml@main
